@using Entity.Concrete
@model List<SampleEntity>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>This is a sample layout page</h1>

<table class="table ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Create Date</th>
            <th>Status</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.CreateDate</td>
                <td>@item.Status</td>
            </tr>
        </tbody>
    }
</table>