@using Entity.Concrete
@using System.Globalization
@model List<SampleEntity>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<div class="container">
	<div class="align-content-center">
		<h1>This is a sample layout page</h1>

		<p style="font-size: 16px">Response Message: <span style="color: red; font-weight: bold;font-size: 14px">@ViewBag.responseMessage</span></p>

		<table class="table ">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
					<th>Create Date</th>
					<th>Status</th>
					<th>Delete</th>
					<th>Change To Passive</th>
					<th>Update</th>
				</tr>
			</thead>
			@foreach (var item in Model)
			{
				<tbody>
					<tr>
						<td>@item.Id</td>
						<td>@item.Name</td>
						<td>@item.Description</td>
						<td>@DateTime.Parse(@item.CreateDate.ToString(CultureInfo.CurrentCulture)).ToString("yyyy MMMM dd")</td>
						@if (@item.Status)
						{
							<td style="background-color: #43f527">@item.Status</td>
						}
						else
						{
							<td style="background-color: #ff3629">@item.Status</td>
						}
						<td><a href="/SampleEntity/Delete/@item.Id" class="btn btn-danger">Delete</a></td>
						<td><a href="/SampleEntity/ChangeStatus/@item.Id" class="btn btn-info">Status</a></td>
						<td><a href="/SampleEntity/Update/@item.Id" class="btn btn-warning">Update</a></td>
					</tr>
				</tbody>
			}
		</table>
		<a href="/SampleEntity/Add" class="btn btn-success">Add</a>
	</div>
</div>
*@
<style>
	.card-2 {
		background-color: rgba(0, 0, 0, 0.2);
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 100;
		display: flex;
		align-items: center;
		margin: -100px -150px !important;
		justify-content: center;
	} 
	@@media(max-width: 1250px) {
		.card-2 {
			margin: -100px -70px !important;
		}
	}
</style>
<div class="card">
	<div id="loader" class="card-2" style="display: none;">
		<img src="/lib/Images/loader-3.gif" alt="loader" width="500" height="250" style="z-index: 101;" />
	</div>
	<h5 class="card-header">Simple Layout Page</h5>
	<div class="table-responsive text-nowrap">

		<table class="table">
			<caption class="ms-4">
				This is a list of sample entities
			</caption>
			<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Create Date</th>
				<th>Status</th>
			</tr>
			</thead>
			<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Id</td>
					<td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.Name</strong></td>
					<td>@item.Description</td>
					<td>@DateTime.Parse(@item.CreateDate.ToString(CultureInfo.CurrentCulture)).ToString("yyyy MMMM dd")</td>
					@if (@item.Status)
					{
						<td><span class="badge bg-label-primary me-1">@item.Status</span></td>
					}
					else
					{
						<td><span class="badge bg-label-danger me-1">@item.Status</span></td>
					}

					<td>
						<div class="dropdown">
							<button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
								<i class="bx bx-dots-vertical-rounded"></i>
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/SampleEntity/Update/@item.Id"><i class="bx bx-edit-alt me-1"></i> Edit</a>
								<a class="dropdown-item" href="/SampleEntity/Delete/@item.Id"><i class="bx bx-trash me-1"></i> Delete</a>
								<a class="dropdown-item" id="changeStatus" href="/SampleEntity/ChangeStatus/@item.Id"><i class='bx bx-recycle'></i> Status</a>
							</div>
						</div>
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>
<a href="/SampleEntity/Add" class="btn btn-success">Add</a>
<script>
	$("#changeStatus").click(function () {
		$("#loader").show();
	});
</script>